<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
  <key>CFBundleIconFile</key>
  <string>grantcoin.icns</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleGetInfoString</key>
  <string>$VERSION, Copyright © 2014-$YEAR 7 Elements LLC & The Grantcoin Foundation</string>
  <key>CFBundleShortVersionString</key>
  <string>$VERSION</string>
  <key>CFBundleVersion</key>
  <string>$VERSION</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleExecutable</key>
  <string>Grantcoin</string>
  <key>CFBundleIdentifier</key>
  <string>org.grantcoin.Grantcoin</string>

  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>org.grantcoin.GrantcoinPayment</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>grantcoin</string>
      </array>
    </dict>
  </array>

  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>org.grantcoin.paymentrequest</string>
      <key>UTTypeDescription</key>
      <string>Grantcoin payment request</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.mime-type</key>
        <string>application/x-grantcoin-payment-request</string>
        <key>public.filename-extension</key>
        <array>
          <string>grantcoinpaymentrequest</string>
        </array>
      </dict>
    </dict>
  </array>

  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>org.grantcoin.paymentrequest</string>
      </array>
      <key>LSHandlerRank</key>
      <string>Owner</string>
    </dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
